button.large {
  padding: 1.25rem 2rem;
  font-size: 1.5rem;
}

button:hover {
  background-color: transparent;
  color: rgb(var(--light-color));
  border-color: rgb(var(--light-color));
  box-shadow: rgba(var(--light-color), 0.3) 0px 12px 25px 0px;
}

button.secondary {
  background-color: transparent;
  color: rgb(var(--light-color));
  border-color: rgb(var(--light-color));
}

button.secondary:hover {
  background-color: rgb(var(--light-color));
  color: rgb(var(--dark-color));
}

.light button:hover {
  border-color: rgb(var(--dark-color));
  box-shadow: rgba(var(--dark-color), 0.3) 0px 12px 25px 0px;
}

.light button.secondary {
  background-color: transparent;
  color: rgb(var(--dark-color));
  border-color: rgb(var(--dark-color));
}

.light button.secondary:hover {
  background-color: rgb(var(--dark-color));
  color: rgb(var(--light-color));
}

.light button.primary {
  background-color: rgb(var(--dark-color));
  color: rgb(var(--light-color));
}
