.menu {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5.5rem);
  width: 18rem;
  background-color: rgb(var(--dark-color));
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  gap: 1rem;
  padding-block: 1rem;
  margin-top: 5.5rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.15s ease;
}

.menu.active {
  transform: translateX(0);
  opacity: 1;
}

.light .menu {
  background-color: rgb(var(--light-color));
}

@media screen and (min-width: 50rem) {
  .menu {
    padding-block: 1rem;
    margin-top: 7rem;
    height: calc(100vh - 7rem);
  }
}

.menu .menu-item {
  position: relative;
  margin-right: 1rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  transition: all 0.15s ease;
  cursor: pointer;
}

.menu .menu-item:hover {
  color: rgba(var(--primary-color), 1);
}

.menu .menu-item.active {
  color: rgba(var(--primary-color), 1);
  background-color: rgba(var(--primary-color), 0.1);
}

.menu-item--button{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 50rem) {
  .menu-item--button {
   display: none;
  }
}