.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
}

.signUp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  color: rgb(var(--light-color));
  background-color: rgba(var(--dark-color), 0.8);
  border: 1px solid rgba(var(--primary-color), 0.5);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(var(--primary-color), 0.5);
}

.signUp__container h1 {
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  border-left: 0.5rem solid rgb(var(--primary-color));
  padding-left: 0.625rem;
}