.button__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:is(.login__container, .signUp__container) .button__container  a {
  align-self: flex-end;
  color: rgb(var(--primary-color));
  text-decoration: none;
  text-align: right;
}

:is(.login__container, .signUp__container) .button__container  a:hover {
  text-decoration: underline;
  text-align: right;
}