@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light-color: 240, 246, 252;
  --dark-color: 13, 17, 23;
  --primary-color: 31, 111, 235;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

body {
  background-color: rgb(var(--dark-color));
  color: rgb(var(--light-color));
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 0.15s ease;
}

.container {
  margin-inline: auto;
  width: min(90%, 50rem);
  padding-block: 2rem;
}

.light {
  background-color: rgb(var(--light-color));
  color: rgb(var(--dark-color));
}

::-webkit-scrollbar {
  width: 0.25em;
}

::-webkit-scrollbar-track {
  margin-block: 0.45em;
  transition: all 0.15s ease;
}

::-webkit-scrollbar-track:hover {
  background: rgba(var(--dark-color), 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--light-color), 0.5);
  border-radius: 0.5rem;
}

.light ::-webkit-scrollbar-thumb {
  background: rgb(var(--dark-color), 0.5);
}

a {
  text-decoration: none;
  color: inherit;
}